@{
    ViewData["Title"] = "Home Page";
}

<!-- 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<section class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img alt="Imagen del frente de la universidad" class="img-fluid rounded" src="ICES1.jpg">
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <h1>ICES </h1>
            <p>
                Nuestra propuesta educativa para todos los niveles tiene el foco puesto en la formación integral 
                de los alumnos, considerando aspectos formativos y humanos. Entendiendo que los valores puestos 
                en práctica más el aprendizaje académico y el compromiso de los estudiantes, constituyen un cimiento 
                firme en la generación de sociedades prósperas.

                En relación a los niveles superiores y universitario, nuestra finalidad es potenciar el desarrollo local, 
                a través del dictado de carreras y especializaciones en materias o temáticas que requieren de 
                recursos humanos, enfocado a cubrir requerimientos, expectativas y necesidades en los distintos organismos, 
                empresas públicas o privadas, donde nuestros alumnos prestarán servicios en sus actividades profesionales.
            </p>
            <a class="btn btn-primary" href="Galeria/Galeria">Conozca mas de la institución</a>
        </div>
    </div>
</section>
