@{
    ViewData["Title"] = "Historia";
}

<div>
    <h1>Nuestra Historia</h1>
    <p>
        El Instituto Superior Particular Autorizado Nº 9244 ICES, se encuentra en la ciudad de Sunchales, Capital
        Nacional del Cooperativismo, aproximadamente a 150 Km. de la Ciudad de Santa Fe, enmarcada dentro de la
        cuenca lechera más importante del país.

        Al promediar los años ochenta, una de las necesidades fundamentales de los sectores productivos y sociales
        de Sunchales y la región, fue la de buscar respuestas al impacto tecnológico de entonces. En esta búsqueda
        surgió como problemática la formación de recursos humanos en el campo de la informática. Principalmente,
        tanto la distancia geográfica con los centros universitarios (Santa Fe, Rosario, Córdoba), como la
        inexistencia de una oferta académica de parte del sistema educativo provincial, orientada hacia las nuevas
        perspectivas planteadas por la revolución tecnológica de los años setenta, activaron la iniciativa de
        proyectar una solución al respecto.

        Todo ello motivó la iniciativa de Casa Cooperativa de analizar y estudiar esta situación en términos
        socioeconómicos y socioeducativos concluyendo que en un futuro cercano tanto el sistema productivo como el
        sistema administrativo demandarían personal altamente capacitado en el área de informática.

        Era una necesidad crear las condiciones suficientes para que la población, con aspiraciones de tener
        continuidad educacional en la región, contara con una institución de estudios superiores. Caso contrario,
        era probable que en Sunchales y la región se profundizara el efecto de desarraigo de jóvenes que emigraban a
        las grandes ciudades en busca de una formación de estudios superiores con la posibilidad de que una vez
        graduados decidieran, por motivos diversos, no retornar a su lugar de origen.

        Sobre la base de este diagnóstico, se preparó desde Casa Cooperativa el proyecto de creación del Instituto
        Cooperativo de Enseñanza Superior (ICES), para que cumpliera con el principio de integración cooperativa,
        fortaleciera el movimiento y se proyectara a la comunidad dotando de una formación técnica a las nuevas
        generaciones y al mismo tiempo del ideal cooperativista.

        Así es como en 1986, el I.C.E.S. comenzó sus actividades académicas, con el propósito de desarrollar
        carreras terciarias, para satisfacer las necesidades y expectativas locales y regionales.

        En un principio, la dependencia institucional y la supervisión académica estuvo a cargo de la Dirección
        Nacional de Educación Superior. Luego, por Disposición Nº 881 del 12 de julio de 1990, la Dirección Nacional
        de Enseñanza Privada incorporaba a la enseñanza oficial al ICES, con lo cual la institución se ubicaba en el
        ámbito jurisdiccional de la Superintendencia Nacional de la Enseñanza Privada.

        En 1993, se agregó la carrera de "Analista en Contabilidad y Gestión", y se creó el Nivel Medio, hoy Escuela
        de Enseñanza Media Particular Autorizada Nro. 3079.

        Con el objeto de brindar mayores posibilidades a los egresados, y siendo el Instituto una Institución de
        Nivel Superior No Universitaria, se iniciaron gestiones que permitieron en el año 1991, firmar un convenio
        de articulación con la Universidad Católica de Santiago del Estero. El mismo permitió firmar progresivamente
        diferentes protocolos de articulación que posibilitaron a los egresados de la carrera Analista de Sistemas
        continuar sus estudios y acceder al título de Ingeniero en Computación a los egresados de Analista en
        Contabilidad y Gestión el título de Contador Público; y en el caso de Tecnicatura Superior en Electrónica
        Aplicada con la Ingeniería en Electrónica cursando dos años en la mencionada universidad.

        En el año 1994, el Ministerio de Cultura y Educación de la Nación transfirió a las provincias y a la
        Municipalidad de la Ciudad de Buenos Aires, los servicios que tal Ministerio prestaba de enseñanza media,
        técnica y superior no universitaria, tanto de gestión estatal como de gestión privada. En tal sentido, el
        ICES quedó bajo la órbita del Servicio Provincial de Enseñanza Privada del Ministerio de Educación de la
        Provincia de Santa Fe, convirtiéndose en Instituto Superior Particular Autorizado Nº 9244 ICES.

        Desde 1994 hasta 1996, en acuerdo con Sancor Cooperativas de Seguros Ltda. se desarrolló la carrera “Técnico
        en Seguros” con la finalidad de capacitar Recursos Humanos en temas específicos.

        En 1995 se creó el “Área de Capacitación” con el objetivo de organizar y dictar cursos y seminarios para
        particulares y empresas de todo el país, no solo en el campo de la informática, también en los más diversos
        temas de acuerdo a los requerimientos. Se destaca la capacitación destinada a Productores Asesores de
        Seguros que se realiza dentro de los lineamientos y condiciones impuestas por la superintendencia de seguros
        de la Nación (SSN).

        En el año 2003 se habilitaron 2 nuevas carreras, una de ellas es “Técnico Superior en Electrónica Aplicada”
        y la otra “Analista en Comercialización”, ambas contando con articulación Universitaria con la U.C.S.E.
        Departamento académico Rafaela para continuar los estudios tendientes a obtener los títulos de “Ingeniería
        Electrónica” y “Licenciatura en Comercialización” respectivamente.

        A partir del ciclo lectivo 2004 se instauran otras 2 nuevas alternativas de estudios; una de ellas es
        “Técnico Superior en Agronegocios” y “Técnico Superior en Gestión de Cooperativas y Mutuales”. Estas 2
        ofertas educativas contando con articulación universitaria con la Universidad Nacional del Litoral para
        continuar los estudios que posibilitan obtener los títulos de “Licenciado en Agronegocios” y “Licenciado en
        Gestión de Cooperativas y Mutuales”.

        Estas últimas 4 carreras actualmente no se dictan en la institución a partir de los resultados obtenidos en
        un relevamiento de necesidades de perfiles profesionales. Y por otro lado las carreras tradicionales
        vinculadas a las áreas sistémicas y contables han sufrido cambios en sus planes de estudios adoptando nuevas
        denominaciones.

        A fines del año 2008, el ICES fue transferido desde la entidad fundadora, Casa Cooperativa, a la Fundación
        Grupo Sancor Seguros.En Julio de 2010 a través de la Fundación Grupo Sancor Seguros se firmó un nuevo
        convenio con la Universidad Católica de Santiago del Estero (UCSE).

        Es gracias a este nuevo convenio que con orgullo y alegría desde el mes de agosto del año 2010 se inició el
        dictado del 4º año de la Carrera de Contador Público en nuestro Instituto, sin necesidad de que los
        egresados de la carrera Analista en Contabilidad y Gestión se trasladen a la ciudad de Rafaela. En el año
        2011 inició el dictado del 5º año de la Ingeniería en Informática articulada con la carrera Analista de
        Sistemas.

        En los años sucesivos, numerosos convenios con universidades reconocidas del país y la región (Universidad
        Nacional de Rosario, Universidad Católica de Santa Fe, Universidad Nacional del Litoral y Universidad
        Nacional de Rafaela) dieron lugar a mayores oportunidades educativas y a la conformación del Centro
        Universitario Sunchales, figura de fantasía que nuclea diversidad de ofertas académicas de pregrado, grado y
        posgrado.

        Cabe mencionar que en el año 2017 comienza a dictarse la primera carrera universitaria (por convenio con
        UCSE) en ICES: “Tecnicatura Universitaria en Gestión de Cooperativas y Mutuales”, reemplazando a la anterior
        Tecnicatura Superior dependiente del Ministerio de Educación de la provincia. En el año 2019 comienza a
        gestarse la Cátedra Abierta de Cooperativismo, Mutualismo y Economía Social para potenciar la conciencia, el
        pensamiento y la práctica cooperativista en los docentes y alumnos de las diferentes carreras y en la
        comunidad en general.

        Confiamos que estas iniciativas, los nuevos convenios y el Centro Universitario Sunchales nos permitirán
        crecer como Institución, así como también nos posibilitarán estar abiertos a nuevos desafíos, potenciando la
        calidad y excelencia educativa tanto para nuestros alumnos como para la comunidad en general.
    </p>
</div>

